[package]
name = "duallutils"
version = "1.3.1"
authors = ["silvioprog <silvioprog@gmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib", "staticlib"]

[profile.release]
lto = true

[dependencies]
libc = "0.2.66"
rust-crypto = "0.2.36"
